#imgs img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    visibility: hidden;
    transition: 1s;



}
#Snav{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
#SnavUp{
    display: block;
    width: 100%;
    height: 10%;

}
#Scircles{
    display: block;
    width: 5%;
    height: 15%;
    margin-right: 5%;
    margin-top:2%;
    float: right;
}
#Scircles ul{
    margin: 0;
    display: block;
    float: right;
    width: 100%;
    height: 100%;

}
#Scircles li{
    list-style: none;
    display: block;
    background-color: rgba(0,0,0,0.70);
    width: 25%;
    height: 100%;
    margin-left: 5%;
    float: left;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#SnavMiddle{
    display: block;
    width: 100%;
    height: 15%;
    margin-top: 10%;
}
#left{
    width: 8%;
    height: 100%;
    float: left;
    margin-left: 3%;
    opacity: 0.5;
}
#left:hover{
    opacity: 0.8;
}
#right{
    width: 8%;
    height: 100%;
    float: right;
    margin-right: 3%;
    opacity: 0.5;
}
#right:hover{
    opacity: 0.8;
}
#SnavBottom{
    display: block;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
}
#SnavBottom p{
    font: normal 200% Arial;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 3%;
    visibility: hidden;
}